@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
$img_path: '../../img/';
$first_color: rgb(224, 0, 0);
$font_color: rgb(92, 92, 92);

body {
    background: rgb(246, 246, 246);
}

header {

    height: 60px;
    background: white;
    display: flex;
    justify-content: space-around;

    .header__logo {
        height: 60px;
        width: 180px;
        background: url('#{$img_path}logo2.png') center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .header__icons {
        display: flex;

        .header__phone {
            height: 26px;
            width: 26px;
            margin: 17px 10px;
            background: url('#{$img_path}phone.png') center;
            background-size: 100% 100%;
        }
    
        .header__burger {
            height: 36px;
            width: 36px;
            margin: 12px 10px;
            background: url('#{$img_path}burger.png') center;
            background-size: 100% 100%;
        }
    }

}

.tarif {

    .tarif__selectors {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        cursor: pointer;
        

        .tarif__selectors--member {
            font-size: 20px;
            margin: 5px 10px;
            color: rgb(110, 110, 110);
            font-family: 'Exo 2', sans-serif;
        }

        .checked-member {
            color: $first_color;
        }
    }
    
    .tarif__list {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    
        .tarif__list--card {
    
            width: 250px;
            height: 450px;
            background: white;
            border-radius: 10px;
            padding: 40px 15px 20px 15px;
            margin: 10px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            .card__stock-mark {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 2px 10px;
                font-size: 15px;
                font-family: 'Exo 2', sans-serif;
                color: red;
                border: 1px solid red;
                border-radius: 11px;
            }

            .card__name {
                font-size: 25px;
                font-family: 'Exo 2', sans-serif;
                color: $font_color;
            }

            .card__info {

                .card__info--characteristics {
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;

                    .card__info--characteristics--p {
                        
                        font-size: 23px;
                        font-family: 'Exo 2', sans-serif;
                        margin: 2px 10px 0 0;
                        color: $font_color;

                        span {
                            font-size: 13px;
                        }
                    }
                }
            }

            .card__tags {
                .card__tags--member {
                    display: inline-block;
                    padding: 1px 5px;
                    margin-bottom: 5px;
                    font-family: 'Nunito', sans-serif;
                    font-size: 15px;
                    border-radius: 10px;
                    background: rgb(235, 235, 235);
                }
            }
            .card__price {
                font-family: 'Exo 2', sans-serif;
                font-size: 23px;
                color: $font_color;
                span {
                    font-size: 15px;
                }
            }
            .card__button {
                width: 80%;
                margin: 0 auto;
                border-radius: 5px;
                padding: 5px;
                background: $first_color;
                color: white;
                font-family: 'Exo 2', sans-serif;
                font-size: 20px;
                text-align: center;
            }
        }

        .hide {
            display: none;
        }
    }
}

.tech-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .tech-info__internet {
        width: 400px;
        height: 200px;
        padding: 50px 10px;
        background: url('#{$img_path}internetwrapper.jpg') center;
        background-size: 135% auto;
        border-radius: 10px;
        font-size: 23px;
        font-family: 'Exo 2', sans-serif;
        text-align: center;
        color: white;
        margin: 10px;
    }
    .tech-info__tv {
        width: 400px;
        height: 200px;
        padding: 50px 10px;
        background: url('#{$img_path}tvwrapper.jpg') center;
        background-size: 135% auto;
        border-radius: 10px;
        font-size: 23px;
        font-family: 'Exo 2', sans-serif;
        text-align: center;
        color: white;
        margin: 10px;
    }
}

.form-wrapper {
    background: url('#{$img_path}formwrapper.jpg') center;
    padding: 30px 0;

    h1 {
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        text-align: center;
        color: rgb(236, 236, 236);
        margin-bottom: 30px;
    }

    form {
        width: 230px;
        height: 210px;
        background: white;
        border-radius: 10px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        .form__input {
            width: 200px;
            height: 30px;
            border: none;
            border-bottom: 1px solid rgb(182, 182, 182);
            color: rgb(182, 182, 182);
            margin-top: 20px;
        }

        .form__button {
            margin-top: 40px;
            width: 150px;
            border-radius: 5px;
            padding: 5px;
            background: $first_color;
            color: white;
            font-family: 'Exo 2', sans-serif;
            font-size: 20px;
            text-align: center;
        }
    }

    @media (min-width: 750px) {

        form {
            width: 500px;
            .form__input {
                width: 450px;
            }
        }
    }
}

footer {
    background: white;
    padding: 20px 20px 20px 0;
    p {
        text-align: right;
        color: $font_color;
        font-family: 'Exo 2', sans-serif;
    }
}

.wrapper {
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: auto;
        margin-top: 20px;
    }
}